.sb1{
	color :blue;
	text-align :center;
	font-family :san-serif;
	padding-top : 60px;
	padding-left : 60px;
	padding-right : 60px;
}
.sb2{
  	font-size: 40px;
    text-align: center;
    display: table-cell;
    vertical-align: middle ;
    color :#87ceeb;
} 
.sb3{
	text-align:center;
	color:#87ceeb;
}
.sb4{
	color:blue;
}
.sb5{
	padding-left:90px;
}
.sb7{
	padding-left: 400px;
}
.sb8{
	color:red;
}